# Supabase — ambil dari: https://app.supabase.com -> Project Settings -> API
NEXT_PUBLIC_SUPABASE_URL=https://gwrqscupadpbomghskgx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd3cnFzY3VwYWRwYm9tZ2hza2d4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxMDIwNzcsImV4cCI6MjA5MzY3ODA3N30.zNvzOxA_rZJfr4-vHcbdz7sxvb3gWiWPcrF2XFjVNRo

# Service role key — HANYA untuk server-side, JANGAN expose ke client
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd3cnFzY3VwYWRwYm9tZ2hza2d4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODEwMjA3NywiZXhwIjoyMDkzNjc4MDc3fQ.oDzIzLNwy-wvM0hw5i2zjM7BkZcsExQEpwJa9fj4AIw

# Midtrans — ambil dari: Dashboard Midtrans -> Settings -> Access Keys
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=SB-Mid-client-xxx
MIDTRANS_SERVER_KEY=SB-Mid-server-xxx
NEXT_PUBLIC_MIDTRANS_IS_PRODUCTION=false
